@font-face {
  font-family: "Staatliches";
  src: url("./assets/fonts/Staatliches-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
}

html,
body,
#root,
.App {
  font-family: "Staatliches" !important;
  height: 100%;
  width: 100%;
} 

*{box-sizing: border-box}

/*div{*/
    /*border: 1px solid #FF0000*/
/*}*/


@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

svg {
  font-family: "Roboto" !important;
}
