.greenBar {
  color: black;
  background-color: #dfd;
}

.redBar {
  color: black;
  background-color: #fdd;
}

.greenBar,
.whiteBar,
.redBar {
  border-radius: 10px;
  margin: 20px 0;
  padding: 5px 10px;
  text-align: center;
  justify-content: space-between;
}

.yellowBar {
  color: black;
  background-color: yellow;
  border-radius: 10px;
  margin: 20px 0;
}

.whiteBar {
  color: black;
  background-color: #b6e1f6;
}
