
.TeamDisplayTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.TeamDisplayTable td,
.TeamDisplayTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.TeamDisplayTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.TeamDisplayTable tr:hover {
  background-color: #ddd;
}

.TeamDisplayTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #303e69;
  color: white;
}
