
.PlayerStats {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.PlayerStats td,
.PlayerStats th {
  border: 1px solid #ddd;
  padding: 8px;
}

.PlayerStats tr:nth-child(even) {
  background-color: #f2f2f2;
}

.PlayerStats tr:hover {
  background-color: #ddd;
}

.PlayerStats th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #303e69;
  color: white;
}

