#root .Navbar, #root .NavbarLeft, #root .NavbarRight {
    background-color: #d182ac ; 
}

.NavbarLeft {
    float: left;
} 

.NavbarRight {
    float: right;
} 

#root .NavbarLink:hover{
    color: #e0d5ce;
    text-decoration: none;
    border:none;
} 

#root Link {
    border-bottom: 0px;
}

#root .NavbarLink {
    border-color: #d182ac;
}


#root .NavbarLink a:hover {
    color: #e0d5ce;
}

#root .NavbarLink:hover::before{
    border: none;
}

